/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11/out/2018, 23:58:35
    Author     : programmer
*/

.azul{
    
    text-decoration: none;
    color:#083377;
    
}

.branca{
    
    color:#ffffff;
    
}


.navbar-inverse p{
    
    font-color:white;
    
}


.align-center{
    
    text-align: center;
}


/* ==========================
 --- Parallax ---
============================= */

section.section {
	margin:0;
	padding: 80px 0 60px 0;
}

#parallax1{	
	background-image: url(../img/parallax/img.jpg);
}
#parallax2{	
	background-image: url(../img/parallax/img1.jpg);
}
#testimonials{	
	background-image: url(../img/parallax/img4.jpg);
}

.circulo{
    
    
    border-radius: 50%;
    
}
.team-member,.col-lg-4 {
		margin-bottom: 30px;
	}

.member-photo {
    border-radius: 50%;
	box-sizing:border-box;
	-webkit-border-radius:50%;
		-moz-border-radius:50%;
			border-radius:50%;	
	margin: 0 0 20px 0;
}

.member-photo img {
    
     border-radius: 50%;
	-webkit-border-radius:50%;
		-moz-border-radius:50%;
			border-radius:50%;	
}

.team-detail h4 {
	font-weight: 700;
}


#formulario_centralizado{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    padding: 0%;
    
}

@keyframes exemplo {
    from {background-color: #083377;}
    to {background-color: rgba(255,255,255);}
}



.navbar-inverse1 {
  
  -webkit-animation-name: exemplo;
  -webkit-animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
  
  

 
  
  border-color: #414141;
}
.navbar-inverse1 .navbar-brand {
  color: #083377;
  font-size: 23pt;
  font-style:italic;
  font-weight: bolder;
}
.navbar-inverse1 .navbar-brand:hover,
.navbar-inverse1 .navbar-brand:focus {
  color: #083377;
  background-color: transparent;
}
.navbar-inverse1 .navbar-text {
  color: #083377;
}
.navbar-inverse1 .navbar-nav > li > a {
  color: #083377;
}
.navbar-inverse1 .navbar-nav > li > a:hover,
.navbar-inverse1 .navbar-nav > li > a:focus {
  color: #ffffff ;
  background-color: #083377;
}
.navbar-inverse1 .navbar-nav > .active > a,
.navbar-inverse1 .navbar-nav > .active > a:hover,
.navbar-inverse1 .navbar-nav > .active > a:focus {
  color: #ffffff ;
  background-color: #083377;
}
.navbar-inverse .navbar-nav > .disabled > a,
.navbar-inverse .navbar-nav > .disabled > a:hover,
.navbar-inverse .navbar-nav > .disabled > a:focus {
  color: #444444;
  background-color: transparent;
}
.navbar-inverse .navbar-toggle {
  border-color: #333333;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  
  background-color: #ffffff;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #2f2f2f;
}
.navbar-inverse1 .navbar-nav > .open > a,
.navbar-inverse1 .navbar-nav > .open > a:hover,
.navbar-inverse1 .navbar-nav > .open > a:focus {
 color: #ffffff ;
  background-color: #083377;
}
@media (max-width: 767px) {
    .navbar-inverse {
   
  background-color: #083377;
  border-color: #414141;
}
.navbar-inverse1 .navbar-brand {
  color: #083377;
  font-size: 23pt;
  font-style:italic;
  font-weight: bolder;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #ffffff;
  background-color: transparent;
}
.navbar-inverse .navbar-text {
  color: #ffffff;
}
.navbar-inverse1 .navbar-nav > li > a {
  color: #083377;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #083377;
  background-color: #ffffff;
}
.navbar-inverse1 .navbar-nav > .active > a,
.navbar-inverse1 .navbar-nav > .active > a:hover,
.navbar-inverse1 .navbar-nav > .active > a:focus {
  color: #083377;
  background-color: #ffffff;
}
.navbar-inverse1 .navbar-nav > .disabled > a,
.navbar-inverse1 .navbar-nav > .disabled > a:hover,
.navbar-inverse1 .navbar-nav > .disabled > a:focus {
  color: #444444;
  background-color: transparent;
}
.navbar-inverse1 .navbar-toggle {
  border-color: #333333;
}
.navbar-inverse1 .navbar-toggle:hover,
.navbar-inverse1 .navbar-toggle:focus {
  
  background-color: transparent;
}


.navbar-inverse1 .navbar-toggle .icon-bar {
  background-color: #ffffff;
}

.navbar-inverse1 .navbar-toggle .icon-bar {
  background-color: #083377;
}


.navbar-inverse1 .navbar-collapse,
.navbar-inverse1 .navbar-form {
  border-color: #2f2f2f;
}
.navbar-inverse1 .navbar-nav > .open > a,
.navbar-inverse1 .navbar-nav > .open > a:hover,
.navbar-inverse1 .navbar-nav > .open > a:focus {
  color: #083377;
  background-color: #ffffff;
}
@media (max-width: 767px) {
  .navbar-inverse1 .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #414141;
  }
  .navbar-inverse1 .navbar-nav .open .dropdown-menu .divider {
    background-color: #414141;
  }
  .navbar-inverse1 .navbar-nav .open .dropdown-menu > li > a {
    color: #083377;
  }
  .navbar-inverse1 .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-inverse1 .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #083377;
    background-color: #414141;
  }
  .navbar-inverse1 .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-inverse1 .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-inverse1 .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #083377;
    background-color: #414141;
  }
  .navbar-inverse1 .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-inverse1 .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-inverse1 .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #444444;
    background-color: transparent;
  }
}
.navbar-inverse1 .navbar-link {
  color: #083377;
}
.navbar-inverse1 .navbar-link:hover {
  color: #ffffff;
}
.navbar-inverse1 .btn-link {
  color: #ffffff;
}
.navbar-inverse1 .btn-link:hover,
.navbar-inverse1 .btn-link:focus {
  color: #ffffff;
}
.navbar-inverse1 .btn-link[disabled]:hover,
fieldset[disabled] .navbar-inverse .btn-link:hover,
.navbar-inverse1 .btn-link[disabled]:focus,
fieldset[disabled] .navbar-inverse .btn-link:focus {
  color: #444444;
}
.navbar-default,
.navbar-inverse1 {
  border: 0;
}
.navbar-default .navbar-nav > li > a,
.navbar-inverse1 .navbar-nav > li > a {
  border-bottom: 3px solid transparent;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-inverse1 .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-inverse1 .navbar-nav > li > a:focus {
  border-bottom-color: #009688;
  outline: none;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.navbar-default .navbar-nav > .active > a,
.navbar-inverse1 .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-inverse1 .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-inverse1 .navbar-nav > .active > a:focus {
  border-bottom-color: #009688;
  outline: none;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.navbar-nav > li > .dropdown-menu {
  margin-top: 10px;
}
.navbar-nav > li > .dropdown-menu:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-bottom-color: rgba(0, 0, 0, 0.15);
  position: absolute;
  top: -7px;
  left: 9px;
}
.navbar-nav > li > .dropdown-menu:after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #fafafa;
  position: absolute;
  top: -6px;
  left: 10px;
}
.navbar-fixed-bottom .navbar-nav > li > .dropdown-menu {
  margin-top: auto;
  margin-bottom: 10px;
}
.navbar-fixed-bottom .navbar-nav > li > .dropdown-menu:before {
  border-top: 7px solid #ccc;
  border-top-color: rgba(0, 0, 0, 0.15);
  border-bottom: 0;
  bottom: -7px;
  top: auto;
}
.navbar-fixed-bottom .navbar-nav > li > .dropdown-menu:after {
  border-top: 6px solid #fafafa;
  border-bottom: 0;
  bottom: -6px;
  top: auto;
}
.navbar .navbar-right > li > .dropdown-menu,
.navbar .nav > li > .dropdown-menu.navbar-right {
  left: auto;
  right: 0;
}
.navbar .navbar-right > li > .dropdown-menu:before,
.navbar .nav > li > .dropdown-menu.navbar-right:before {
  left: auto;
  right: 12px;
}
.navbar .navbar-right > li > .dropdown-menu:after,
.navbar .nav > li > .dropdown-menu.navbar-right:after {
  left: auto;
  right: 13px;
}
.navbar .navbar-right > li > .dropdown-menu .dropdown-menu,
.navbar .nav > li > .dropdown-menu.navbar-right .dropdown-menu {
  left: auto;
  right: 100%;
  margin-left: 0;
  margin-right: -1px;
  border-radius: 6px 0 6px 6px;
}
.navbar-inverse1 .dropdown-menu {
  
  background-color: #083377;
}
.navbar-inverse1 .dropdown-menu > li > a {
  color: #ffffff;
}
.navbar-inverse1 .dropdown-menu > li > a:hover,
.navbar-inverse1 .dropdown-menu > li > a:focus {
  color: #083377;
  background-color: #ffffff;
}
.navbar-inverse1 .dropdown-menu .divider {
  height: 1px;
  margin: 10.5px 0;
  overflow: hidden;
  background-color: #555555;
}
.navbar-inverse1 .dropdown-menu:after {
  border-bottom-color: #414141 !important;
}
    
    
    
    
    
    
    
    
    
    
    
    
  .navbar-inverse1 .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #414141;
  }
  .navbar-inverse1 .navbar-nav .open .dropdown-menu .divider {
    background-color: #414141;
  }
  .navbar-inverse1 .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-inverse1 .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-inverse1 .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color: #414141;
  }
  .navbar-inverse1 .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-inverse1 .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-inverse1 .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #414141;
  }
  .navbar-inverse1 .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-inverse1 .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-inverse1 .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #444444;
    background-color: transparent;
  }
}
.navbar-inverse1 .navbar-link {
  color: #ffffff;
}
.navbar-inverse1 .navbar-link:hover {
  color: #ffffff;
}
.navbar-inverse1 .btn-link {
  color: #ffffff;
}
.navbar-inverse1 .btn-link:hover,
.navbar-inverse1 .btn-link:focus {
  color: #ffffff;
}
.navbar-inverse1 .btn-link[disabled]:hover,
fieldset[disabled] .navbar-inverse .btn-link:hover,
.navbar-inverse .btn-link[disabled]:focus,
fieldset[disabled] .navbar-inverse .btn-link:focus {
  color: #444444;
}
.navbar-default,
.navbar-inverse1 {
  border: 0;
}
.navbar-default .navbar-nav > li > a,
.navbar-inverse1 .navbar-nav > li > a {
  border-bottom: 3px solid transparent;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-inverse1 .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-inverse1 .navbar-nav > li > a:focus {
  border-bottom-color: #009688;
  outline: none;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.navbar-default .navbar-nav > .active > a,
.navbar-inverse1 .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-inverse1 .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:focus {
  border-bottom-color: #009688;
  outline: none;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.navbar-nav > li > .dropdown-menu {
  margin-top: 10px;
}
.navbar-nav > li > .dropdown-menu:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-bottom-color: rgba(0, 0, 0, 0.15);
  position: absolute;
  top: -7px;
  left: 9px;
}
.navbar-nav > li > .dropdown-menu:after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #fafafa;
  position: absolute;
  top: -6px;
  left: 10px;
}
.navbar-fixed-bottom .navbar-nav > li > .dropdown-menu {
  margin-top: auto;
  margin-bottom: 10px;
}
.navbar-fixed-bottom .navbar-nav > li > .dropdown-menu:before {
  border-top: 7px solid #ccc;
  border-top-color: rgba(0, 0, 0, 0.15);
  border-bottom: 0;
  bottom: -7px;
  top: auto;
}
.navbar-fixed-bottom .navbar-nav > li > .dropdown-menu:after {
  border-top: 6px solid #fafafa;
  border-bottom: 0;
  bottom: -6px;
  top: auto;
}
.navbar .navbar-right > li > .dropdown-menu,
.navbar .nav > li > .dropdown-menu.navbar-right {
  left: auto;
  right: 0;
}
.navbar .navbar-right > li > .dropdown-menu:before,
.navbar .nav > li > .dropdown-menu.navbar-right:before {
  left: auto;
  right: 12px;
}
.navbar .navbar-right > li > .dropdown-menu:after,
.navbar .nav > li > .dropdown-menu.navbar-right:after {
  left: auto;
  right: 13px;
}
.navbar .navbar-right > li > .dropdown-menu .dropdown-menu,
.navbar .nav > li > .dropdown-menu.navbar-right .dropdown-menu {
  left: auto;
  right: 100%;
  margin-left: 0;
  margin-right: -1px;
  border-radius: 6px 0 6px 6px;
}
.navbar-inverse1 .dropdown-menu {
  
  background-color: #083377;
}
.navbar-inverse .dropdown-menu > li > a {
  color: #ffffff;
}
.navbar-inverse1 .dropdown-menu > li > a:hover,
.navbar-inverse1 .dropdown-menu > li > a:focus {
  color: #083377;
  background-color: #ffffff;
}
.navbar-inverse1 .dropdown-menu .divider {
  height: 1px;
  margin: 10.5px 0;
  overflow: hidden;
  background-color: #555555;
}
.navbar-inverse1 .dropdown-menu:after {
  border-bottom-color: #414141 !important;
}
@media (max-width: 767px) {
  .dropdown-menu:after,
  .dropdown-menu:before {
    display: none !important;
  }
